h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

body {
  margin: 0 auto;
  display: block;
  background: url(/assets/pikes3.jpg/assets/pikes3.jpg);
  max-width: 100%;
  max-width: 100%; }

body {
  margin: 0 auto;
  display: block;
  background: url(/assets/pikes.png/assets/pikes.png);
  max-width: 100px;
  max-height: 100px; }

body {
  margin: 0 auto;
  display: block;
  background: url(/assets/pikes2.jpg/assets/pikes2.png);
  max-width: 100%;
  max-height: 100%; }

body {
  background: #502A4E; }

.header {
  background: #E08FBC;
  color: #1a10a0;
  padding: 20px;
  margin: 20px 0; }

.content {
  background: turquoise;
  padding: 20px;
  margin: 20px 0; }

.box {
  width: 50%;
  height: 50%; }

.footer {
  background: #3C3C90;
  color: #1a10a0;
  padding: 20px;
  margin: 20px 0; }

.btn {
  padding: 10px 20px; }
  .btn.primary {
    background: #B2A3CC; }
  .btn.secondary {
    background: #B2A3CC; }
