    @mixin spacing {
    padding: 20px;
    margin: 20px 0;
}
    @mixin heading-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    font-weight: bold;
  }

  h1 {
    @include heading-font;
  }
   h2 {
   @include heading-font; 
  }

  $assetPath :"/assets/pikes3.jpg";
  $assetPath :"/assets/pikes.png";
  $assetPath :"/assets/pikes2.png";
  $color-primary: #1a10a0;
  $color-secondary: #B2A3CC;
  $color-cta: #8b3e97;

body {
    background: #502A4E;
}
.header {
    background: #E08FBC;
    color: $color-primary;
    @include spacing;
}
.content {
    background: turquoise;
    @include spacing;
}
.box {
    width: 50%;
    height: 50%;
  }
.footer {
    background: #3C3C90;
    color: $color-primary;
    @include spacing;
}
.btn{
    padding: 10px 20px;

    &.primary {
        background: $color-secondary;
    }
    &.secondary {
        background: $color-secondary;
    }
}