    @mixin spacing {
    padding: 20px;
    margin: 20px 0;
}
    @mixin heading-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }

  h1 {
    @include heading-font;
  }
   h2 {
   @include heading-font; 
  }

  $assetPath :"/assets/pikes3.jpg";

body {
  margin: 0 auto;
  display: block;
  background: url(#{$assetPath}/assets/pikes3.jpg);
 max-width: 100%;
 max-width: 100%;
}

$assetPath :"/assets/pikes.png";

body {
  margin: 0 auto;
  display: block;
  background: url(#{$assetPath}/assets/pikes.png);
  max-width: 100px;
  max-height: 100px;
  
}

$assetPath :"/assets/pikes2.jpg";

body {
  margin: 0 auto;
  display: block;
  background: url(#{$assetPath}/assets/pikes2.png);
  max-width: 100%;
  max-height:100%;
     
}

$color-primary: #1a10a0;
$color-secondary: #B2A3CC;
$color-cta: #8b3e97;

body {
    background: #502A4E;
}
.header {
    background: #E08FBC;
    color: $color-primary;
    @include spacing;
}
.content {
    background: turquoise;
    @include spacing;
}
.box {
    width: 50%;
    height: 50%;
  }
.footer {
    background: #3C3C90;
    color: $color-primary;
    @include spacing;
}
.btn{
    padding: 10px 20px;

    &.primary {
        background: $color-secondary;
    }
    &.secondary {
        background: $color-secondary;
    }
}